
obj/Debug/netcoreapp3.1/Supplier.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/Supplier.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/Supplier.csprojAssemblyReference.cache
bin/Debug/netcoreapp3.1/Supplier.dll
bin/Debug/netcoreapp3.1/Supplier.pdb
bin/Debug/netcoreapp3.1/Supplier.Views.pdb
*.dll
*.pdb
